USE [master]
GO
/****** Object:  Database [DoAnUDQL]    Script Date: 1/6/2019 1:10:23 AM ******/
CREATE DATABASE [DoAnUDQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnUDQL', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DoAnUDQL.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DoAnUDQL_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DoAnUDQL_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnUDQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnUDQL]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatKhachHang]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CapNhatKhachHang]
@CMND char(10),@MaKH int,@TenKH nvarchar(30),@DienThoai varchar(10)
AS
	begin 
		update KHACHHANG set TenKH=@TenKH,DienThoai=@DienThoai,CMND=@CMND Where MaKH =@MaKH
	end

GO
/****** Object:  StoredProcedure [dbo].[ThemCMNDKhachHang]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ThemCMNDKhachHang]
@CMND char(10)
AS
	begin 
		insert into KHACHHANG(CMND) values(@CMND)
	end

GO
/****** Object:  StoredProcedure [dbo].[TimKiemKhachHang]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TimKiemKhachHang]
@CMND char(10)
AS
	begin 
		select* from KHACHHANG where CMND=@CMND
	end

GO
/****** Object:  StoredProcedure [dbo].[uc_getTK_by_Username]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uc_getTK_by_Username] @username VARCHAR(30)
AS
begin
SELECT * FROM dbo.TAIKHOAN WHERE username = @username
END

EXEC dbo.uc_getTK_by_Username @username
EXEC dbo.uc_getTK_by_Username admin

GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[SBDi] [varchar](10) NOT NULL,
	[SBDen] [varchar](10) NOT NULL,
	[GheHang] [int] NOT NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_BANGGIA] PRIMARY KEY CLUSTERED 
(
	[GheHang] ASC,
	[SBDen] ASC,
	[SBDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETCHUYENBAY]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETCHUYENBAY](
	[STT] [int] NOT NULL,
	[MaCB] [varchar](10) NOT NULL,
	[MaSBTG] [varchar](10) NULL,
	[TGDung] [int] NULL,
	[GhiChu] [text] NULL,
 CONSTRAINT [PK_CHITIETCHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MaCB] [varchar](10) NOT NULL,
	[SBDi] [varchar](10) NULL,
	[SBDen] [varchar](10) NULL,
	[NgayGio] [datetime] NULL,
	[TGBay] [int] NULL,
	[SLGhe1] [int] NULL,
	[SLGhe2] [int] NULL,
	[SoGheTrong] [int] NULL,
	[SoGheDat] [int] NULL,
	[SoVe] [int] NULL,
	[TyLe] [float] NULL,
	[DoanhThu] [float] NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](255) NULL,
	[CMND] [varchar](20) NULL,
	[DienThoai] [varchar](20) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RANGBUOC]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANGBUOC](
	[PK] [int] NOT NULL,
	[SLSanBay] [int] NULL,
	[ThoiGianBayMin] [int] NULL,
	[SBTGMax] [int] NULL,
	[TGDungMin] [int] NULL,
	[TGDungMax] [int] NULL,
	[SLHangVe] [int] NULL,
	[TGDatVe] [datetime] NULL,
	[TGHuyVe] [datetime] NULL,
 CONSTRAINT [PK_RANGBUOC] PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MaSB] [varchar](10) NOT NULL,
	[TenSB] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MaSB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](120) NULL,
	[loaiUSER] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VECHUYENBAY]    Script Date: 1/6/2019 1:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VECHUYENBAY](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [int] NOT NULL,
	[MaCB] [varchar](10) NOT NULL,
	[MaKH] [int] NOT NULL,
	[GheHang] [varchar](10) NULL,
	[NgayDat] [datetime] NULL,
	[GiaVe] [int] NULL,
 CONSTRAINT [PK_VECHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANGGIA] ([SBDi], [SBDen], [GheHang], [Gia]) VALUES (N'SB01', N'SB01', 1, 1750000)
INSERT [dbo].[BANGGIA] ([SBDi], [SBDen], [GheHang], [Gia]) VALUES (N'SB02', N'SB01', 1, 700000)
INSERT [dbo].[BANGGIA] ([SBDi], [SBDen], [GheHang], [Gia]) VALUES (N'SB03', N'SB01', 1, 2050000)
GO
INSERT [dbo].[CHITIETCHUYENBAY] ([STT], [MaCB], [MaSBTG], [TGDung], [GhiChu]) VALUES (1, N'CB01', N'SB05', 16, NULL)
INSERT [dbo].[CHITIETCHUYENBAY] ([STT], [MaCB], [MaSBTG], [TGDung], [GhiChu]) VALUES (1, N'CB02', N'SB01', 14, NULL)
INSERT [dbo].[CHITIETCHUYENBAY] ([STT], [MaCB], [MaSBTG], [TGDung], [GhiChu]) VALUES (1, N'CB04', N'SB09', 6, NULL)
INSERT [dbo].[CHUYENBAY] ([MaCB], [SBDi], [SBDen], [NgayGio], [TGBay], [SLGhe1], [SLGhe2], [SoGheTrong], [SoGheDat], [SoVe], [TyLe], [DoanhThu]) VALUES (N'CB01', N'SB09', N'SB01', CAST(0x0000A9CC017B0740 AS DateTime), 70, 35, 25, 26, 32, 2, 0.033333333333333333, 1200000)
INSERT [dbo].[CHUYENBAY] ([MaCB], [SBDi], [SBDen], [NgayGio], [TGBay], [SLGhe1], [SLGhe2], [SoGheTrong], [SoGheDat], [SoVe], [TyLe], [DoanhThu]) VALUES (N'CB02', N'SB06', N'SB10', CAST(0x0000A9CD002ECD40 AS DateTime), 35, 20, 20, 6, 20, 14, 0.35, 21000000)
INSERT [dbo].[CHUYENBAY] ([MaCB], [SBDi], [SBDen], [NgayGio], [TGBay], [SLGhe1], [SLGhe2], [SoGheTrong], [SoGheDat], [SoVe], [TyLe], [DoanhThu]) VALUES (N'CB03', N'SB03', N'SB02', CAST(0x0000A9CD00D4EA40 AS DateTime), 60, 40, 35, 22, 13, 40, 0.53333333333333333, 80000000)
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DienThoai]) VALUES (1, N'An Quang Trường', N'343643251253', N'(830) 211-8117')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DienThoai]) VALUES (2, N'Nguyễn Việt Khoa', N'351683245794', N'(828) 444-8753')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DienThoai]) VALUES (3, N'Nguyễn Vạn Thông', N'797612775999', N'(449) 957-7441')
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[RANGBUOC] ([PK], [SLSanBay], [ThoiGianBayMin], [SBTGMax], [TGDungMin], [TGDungMax], [SLHangVe], [TGDatVe], [TGHuyVe]) VALUES (1, 20, 20, 360, 5, 120, 2, CAST(0x0000001600000000 AS DateTime), CAST(0x0000002200000000 AS DateTime))
INSERT [dbo].[SANBAY] ([MaSB], [TenSB]) VALUES (N'SB01', N'Tân Sân Nhất')
INSERT [dbo].[SANBAY] ([MaSB], [TenSB]) VALUES (N'SB02', N'Dubai')
INSERT [dbo].[SANBAY] ([MaSB], [TenSB]) VALUES (N'SB03', N'Hongkong')
INSERT [dbo].[TAIKHOAN] ([username], [password], [loaiUSER]) VALUES (N'admin', NULL, 1)
INSERT [dbo].[TAIKHOAN] ([username], [password], [loaiUSER]) VALUES (N'nhanvien', NULL, 0)
SET IDENTITY_INSERT [dbo].[VECHUYENBAY] ON 

INSERT [dbo].[VECHUYENBAY] ([MaVe], [Loai], [MaCB], [MaKH], [GheHang], [NgayDat], [GiaVe]) VALUES (1, 1, N'CB11', 43, N'2', CAST(0x0000A9CC018B3250 AS DateTime), 650000)
INSERT [dbo].[VECHUYENBAY] ([MaVe], [Loai], [MaCB], [MaKH], [GheHang], [NgayDat], [GiaVe]) VALUES (2, 0, N'CB12', 62, N'2', CAST(0x0000A9C40116EB84 AS DateTime), 600000)
INSERT [dbo].[VECHUYENBAY] ([MaVe], [Loai], [MaCB], [MaKH], [GheHang], [NgayDat], [GiaVe]) VALUES (3, 1, N'CB24', 52, N'1', CAST(0x0000A9BB012BE188 AS DateTime), 1500000)
SET IDENTITY_INSERT [dbo].[VECHUYENBAY] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_CMND]    Script Date: 1/6/2019 1:10:23 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_MaCB_MaKH]    Script Date: 1/6/2019 1:10:23 AM ******/
ALTER TABLE [dbo].[VECHUYENBAY] ADD  CONSTRAINT [UQ_MaCB_MaKH] UNIQUE NONCLUSTERED 
(
	[MaCB] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDEN] FOREIGN KEY([SBDen])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDEN]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDI] FOREIGN KEY([SBDi])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDI]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBA_FK_CHUYEN_SANBAY] FOREIGN KEY([SBDi])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBA_FK_CHUYEN_SANBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBA_REFERENCE_SANBAY] FOREIGN KEY([SBDen])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBA_REFERENCE_SANBAY]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYEN_REFERENCE_CHUYENBA] FOREIGN KEY([MaCB])
REFERENCES [dbo].[CHUYENBAY] ([MaCB])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYEN_REFERENCE_CHUYENBA]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYEN_REFERENCE_KHACHHAN] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYEN_REFERENCE_KHACHHAN]
GO
USE [master]
GO
