USE [master]
GO
--/****** Object:  Database [DoAnUDQL]    Script Date: 1/6/2019 12:20:21 PM ******/
--CREATE DATABASE [DoAnUDQL]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'DoAnUDQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DoAnUDQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'DoAnUDQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DoAnUDQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
--GO
--ALTER DATABASE [DoAnUDQL] SET COMPATIBILITY_LEVEL = 110
--GO

create database DoAnUDQL
go
--use DoAnUDQL
--go

--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [DoAnUDQL].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [DoAnUDQL] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET AUTO_CLOSE ON 
--GO
--ALTER DATABASE [DoAnUDQL] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [DoAnUDQL] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [DoAnUDQL] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET  ENABLE_BROKER 
--GO
--ALTER DATABASE [DoAnUDQL] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [DoAnUDQL] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET RECOVERY FULL 
--GO
--ALTER DATABASE [DoAnUDQL] SET  MULTI_USER 
--GO
--ALTER DATABASE [DoAnUDQL] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [DoAnUDQL] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [DoAnUDQL] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [DoAnUDQL] SET TARGET_RECOVERY_TIME = 60 SECONDS 
--GO
--ALTER DATABASE [DoAnUDQL] SET DELAYED_DURABILITY = DISABLED 
--GO
--EXEC sys.sp_db_vardecimal_storage_format N'DoAnUDQL', N'ON'
--GO
--ALTER DATABASE [DoAnUDQL] SET QUERY_STORE = OFF
--GO
--USE [DoAnUDQL]
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET IDENTITY_CACHE = ON;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET LEGACY_CARDINALITY_ESTIMATION = OFF;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET LEGACY_CARDINALITY_ESTIMATION = PRIMARY;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 0;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET MAXDOP = PRIMARY;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET PARAMETER_SNIFFING = ON;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET PARAMETER_SNIFFING = PRIMARY;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET QUERY_OPTIMIZER_HOTFIXES = OFF;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET QUERY_OPTIMIZER_HOTFIXES = PRIMARY;
--GO
USE [DoAnUDQL]
GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 1/6/2019 12:20:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[SBDi] [char](10) NOT NULL,
	[SBDen] [char](10) NOT NULL,
	[GheHang] [int] NOT NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_BANGGIA] PRIMARY KEY CLUSTERED 
(
	[GheHang] ASC,
	[SBDen] ASC,
	[SBDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETCHUYENBAY]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHUYENBAY](
	[STT] [int] NOT NULL,
	[MaCB] [char](10) NOT NULL,
	[MaSBTG] [char](10) NULL,
	[TGDung] [int] NULL,
	[GhiChu] [text] NULL,
 CONSTRAINT [PK_CHITIETCHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MaCB] [char](10) NOT NULL,
	[SBDi] [char](10) NULL,
	[SBDen] [char](10) NULL,
	[NgayGio] [datetime] NULL,
	[TGBay] [int] NULL,
	[SLGhe1] [int] NULL,
	[SLGhe2] [int] NULL,
	[SoGheTrong] [int] NULL,
	[SoGheDat] [int] NULL,
	[SoVe] [int] NULL,
	[TyLe] [float] NULL,
	[DoanhThu] [float] NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGVE]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGVE](
	[MaHangVe] [int] NOT NULL,
	[TenHangVe] [nvarchar](30) NULL,
 CONSTRAINT [PK_HANGVE] PRIMARY KEY CLUSTERED 
(
	[MaHangVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[CMND] [char](20) NULL,
	[DienThoai] [char](20) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANGBUOC]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANGBUOC](
	[PK] [int] NOT NULL,
	[SLSanBay] [int] NULL,
	[ThoiGianBayMin] [int] NULL,
	[SBTGMax] [int] NULL,
	[TGDungMin] [int] NULL,
	[TGDungMax] [int] NULL,
	[TGDatVe] [int] NULL,
	[TGHuyVe] [int] NULL,
	[SLHangVe1] [int] NULL,
	[SLHangVe2] [int] NULL,
 CONSTRAINT [PK_RANGBUOC] PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MaSB] [char](10) NOT NULL,
	[TenSB] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MaSB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](120) NULL,
	[loaiUSER] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VECHUYENBAY]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VECHUYENBAY](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [int] NOT NULL,
	[MaCB] [char](10) NOT NULL,
	[MaKH] [int] NOT NULL,
	[GheHang] [int] NULL,
	[NgayDat] [datetime] NULL,
	[GiaVe] [int] NULL,
 CONSTRAINT [PK_VECHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGGIA] ([SBDi], [SBDen], [GheHang], [Gia]) VALUES (N'SB01      ', N'SB01      ', 1, 1750000)
INSERT [dbo].[BANGGIA] ([SBDi], [SBDen], [GheHang], [Gia]) VALUES (N'SB02      ', N'SB01      ', 1, 700000)
INSERT [dbo].[BANGGIA] ([SBDi], [SBDen], [GheHang], [Gia]) VALUES (N'SB03      ', N'SB01      ', 1, 2050000)
GO
INSERT [dbo].[CHITIETCHUYENBAY] ([STT], [MaCB], [MaSBTG], [TGDung], [GhiChu]) VALUES (1, N'CB01      ', N'SB05      ', 16, NULL)
INSERT [dbo].[CHITIETCHUYENBAY] ([STT], [MaCB], [MaSBTG], [TGDung], [GhiChu]) VALUES (1, N'CB02      ', N'SB01      ', 14, NULL)
INSERT [dbo].[CHITIETCHUYENBAY] ([STT], [MaCB], [MaSBTG], [TGDung], [GhiChu]) VALUES (1, N'CB04      ', N'SB09      ', 6, NULL)
INSERT [dbo].[CHUYENBAY] ([MaCB], [SBDi], [SBDen], [NgayGio], [TGBay], [SLGhe1], [SLGhe2], [SoGheTrong], [SoGheDat], [SoVe], [TyLe], [DoanhThu]) VALUES (N'          ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CHUYENBAY] ([MaCB], [SBDi], [SBDen], [NgayGio], [TGBay], [SLGhe1], [SLGhe2], [SoGheTrong], [SoGheDat], [SoVe], [TyLe], [DoanhThu]) VALUES (N'CB01      ', N'SB09      ', N'SB01      ', CAST(N'2019-01-05T23:00:00.000' AS DateTime), 70, 35, 25, 26, 32, 2, 0.033333333333333333, 1200000)
INSERT [dbo].[CHUYENBAY] ([MaCB], [SBDi], [SBDen], [NgayGio], [TGBay], [SLGhe1], [SLGhe2], [SoGheTrong], [SoGheDat], [SoVe], [TyLe], [DoanhThu]) VALUES (N'CB02      ', N'SB06      ', N'SB10      ', CAST(N'2019-01-06T02:50:24.000' AS DateTime), 35, 20, 20, 6, 20, 14, 0.35, 21000000)
INSERT [dbo].[HANGVE] ([MaHangVe], [TenHangVe]) VALUES (1, N'Thương gia')
INSERT [dbo].[HANGVE] ([MaHangVe], [TenHangVe]) VALUES (2, N'Vé thường')
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DienThoai]) VALUES (1, N'An Quang Trường', N'343643251253        ', N'(830) 211-8117      ')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DienThoai]) VALUES (2, N'Nguyễn Việt Khoa', N'351683245794        ', N'(828) 444-8753      ')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DienThoai]) VALUES (3, N'Nguyễn Vạn Thông', N'797612775999        ', N'(449) 957-7441      ')
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[RANGBUOC] ([PK], [SLSanBay], [ThoiGianBayMin], [SBTGMax], [TGDungMin], [TGDungMax], [TGDatVe], [TGHuyVe], [SLHangVe1], [SLHangVe2]) VALUES (1, 20, 20, 360, 5, 120, 24, 0, NULL, NULL)
INSERT [dbo].[SANBAY] ([MaSB], [TenSB]) VALUES (N'SB01      ', N'Tân Sân Nhất')
INSERT [dbo].[SANBAY] ([MaSB], [TenSB]) VALUES (N'SB02      ', N'Dubai')
INSERT [dbo].[SANBAY] ([MaSB], [TenSB]) VALUES (N'SB03      ', N'Hongkong')
INSERT [dbo].[TAIKHOAN] ([username], [password], [loaiUSER]) VALUES (N'admin', N'', 1)
INSERT [dbo].[TAIKHOAN] ([username], [password], [loaiUSER]) VALUES (N'nhanvien', NULL, 0)
SET IDENTITY_INSERT [dbo].[VECHUYENBAY] ON 

INSERT [dbo].[VECHUYENBAY] ([MaVe], [Loai], [MaCB], [MaKH], [GheHang], [NgayDat], [GiaVe]) VALUES (61, 1, N'CB11      ', 12, 1, CAST(N'2019-01-05T23:58:52.000' AS DateTime), 650000)
INSERT [dbo].[VECHUYENBAY] ([MaVe], [Loai], [MaCB], [MaKH], [GheHang], [NgayDat], [GiaVe]) VALUES (62, 0, N'CB12      ', 13, 1, CAST(N'2018-12-28T16:55:31.000' AS DateTime), 600000)
INSERT [dbo].[VECHUYENBAY] ([MaVe], [Loai], [MaCB], [MaKH], [GheHang], [NgayDat], [GiaVe]) VALUES (63, 1, N'CB24      ', 34, 1, CAST(N'2018-12-19T18:11:50.000' AS DateTime), 1500000)
SET IDENTITY_INSERT [dbo].[VECHUYENBAY] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TenHangVe]    Script Date: 1/6/2019 12:20:22 PM ******/
ALTER TABLE [dbo].[HANGVE] ADD  CONSTRAINT [UQ_TenHangVe] UNIQUE NONCLUSTERED 
(
	[TenHangVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CMND]    Script Date: 1/6/2019 12:20:22 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MaCB_MaKH]    Script Date: 1/6/2019 12:20:22 PM ******/
ALTER TABLE [dbo].[VECHUYENBAY] ADD  CONSTRAINT [UQ_MaCB_MaKH] UNIQUE NONCLUSTERED 
(
	[MaCB] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDEN] FOREIGN KEY([SBDen])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDEN]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDI] FOREIGN KEY([SBDi])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_FK_BANGGI_SANBAYDI]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBA_FK_CHUYEN_SANBAY] FOREIGN KEY([SBDi])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBA_FK_CHUYEN_SANBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBA_REFERENCE_SANBAY] FOREIGN KEY([SBDen])
REFERENCES [dbo].[SANBAY] ([MaSB])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBA_REFERENCE_SANBAY]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYEN_REFERENCE_CHUYENBA] FOREIGN KEY([MaCB])
REFERENCES [dbo].[CHUYENBAY] ([MaCB])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYEN_REFERENCE_CHUYENBA]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYEN_REFERENCE_HANGVE] FOREIGN KEY([GheHang])
REFERENCES [dbo].[HANGVE] ([MaHangVe])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYEN_REFERENCE_HANGVE]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYEN_REFERENCE_KHACHHAN] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYEN_REFERENCE_KHACHHAN]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatKhachHang]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CapNhatKhachHang]
@CMND char(10),@MaKH int,@TenKH nvarchar(30),@DienThoai varchar(10)
AS
	begin 
		update KHACHHANG set TenKH=@TenKH,DienThoai=@DienThoai,CMND=@CMND Where MaKH =@MaKH
	end
GO
/****** Object:  StoredProcedure [dbo].[CapNhatLoaiVe_BanVe]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CapNhatLoaiVe_BanVe]
@maVe int
AS
	begin
		if not exists(select* from VECHUYENBAY where MaVe = @maVe)
		begin 
			return
		end
		update VECHUYENBAY set Loai =1 where MaVe = @maVe
	end
GO
/****** Object:  StoredProcedure [dbo].[DatCho_DanhSachChuyenBay]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DatCho_DanhSachChuyenBay]
AS
	begin 
		select * from CHUYENBAY where DATEDIFF(HOUR,GETDATE(), NgayGio) >=all (select TGDatVe from RANGBUOC)
	end
GO
/****** Object:  StoredProcedure [dbo].[GiaVe_DatCho]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GiaVe_DatCho]
@MaCB char(10),@GheHang varchar(10)
AS
	begin
		if not exists(select* from HANGVE where MaHangVe =@GheHang)
		begin 
			return
		end
		if not exists(select* from CHUYENBAY where MaCB = @MaCB)
		begin 
			return
		end
		
		select g.Gia
		from BANGGIA as g join CHUYENBAY as cb on cb.SBDen = g.SBDen and cb.SBDi = g.SBDi
		where cb.MaCB = @MaCB and g.GheHang =@GheHang
	end
GO
/****** Object:  StoredProcedure [dbo].[ThemCMNDKhachHang]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ThemCMNDKhachHang]
@CMND char(10)
AS
	begin 
		if exists(select* from KHACHHANG where CMND = @CMND)
		begin 
			return
		end
		else
		begin
			insert into KHACHHANG(CMND) values(@CMND)
		end
	end
GO
/****** Object:  StoredProcedure [dbo].[ThemVe_DatCho]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ThemVe_DatCho]
@MaCB char(10),@MaKH int,@GheHang varchar(10),@NgayDat datetime,@giaVe int
AS
	begin
		if not exists(select* from CHUYENBAY where MaCB = @MaCB)
		begin 
			return
		end
		insert into VECHUYENBAY(MaCB,MaKH,GheHang,NgayDat,GiaVe,Loai)
		values (@MaCB,@MaKH,@GheHang,@NgayDat,@giaVe,0)

	end
GO
/****** Object:  StoredProcedure [dbo].[TimKiemChuyenBay]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TimKiemChuyenBay]
@MaCB char(10)
AS
	begin 
		select* from CHUYENBAY where MaCB=@MaCB
	end
GO
/****** Object:  StoredProcedure [dbo].[TimKiemKhachHang]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TimKiemKhachHang]
@CMND varchar(20)
AS
	begin 
		select* from KHACHHANG where CMND=@CMND
	end
GO
/****** Object:  StoredProcedure [dbo].[uc_getTK_by_Username]    Script Date: 1/6/2019 12:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uc_getTK_by_Username] @username VARCHAR(30)
AS
begin
SELECT * FROM dbo.TAIKHOAN WHERE username = @username
END
GO
USE [master]
GO
